<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/styles/styles.css">
    <title>Crear Nueva Oferta de Empleo</title>
</head>
<body>

    <a href="/jobs">Ir a Empleos</a>

    <section class="form-register">
        <h2>Crear Oferta de Empleo</h2>
        <form action="/jobs/create" method="POST" enctype="multipart/form-data">

            <input class="form-register__input" type="text" name="contactEmail" placeholder="Email de contacto">

            <input class="form-register__input" type="text" name="title" placeholder="Titulo Oferta">

            <input class="form-register__input" type="text" name="description" placeholder="Descripción Oferta">

            <input class="form-register__input" type="text" name="company" placeholder="Compañía">

            <input class="form-register__input" type="text" name="city" placeholder="Ciudad">

            <label for="avatar">Subir Imagen</label>
            <input type="file" id="avatar" name="avatar">

            <button class="button" type="submit">Enviar Nueva Oferta</button>
        </form>
    </section>

</body>
<footer>
    <div class="footer">
        <div>
            <a href="copyright">copyright</a>
        </div>
        <div>
            <a href="company">company</a>
        </div>
    </div>
</footer>
</html>