<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Oferta Eliminada</title>
</head>

<body>
    <div>
        <a href="/">Volver a Página Principal</a>
    </div>
    <div>
        <a href="/jobs">Volver a empleos Actualizados</a>
    </div>

    <h3>¡Oferta Eliminada!</h3>
</body>
<footer>
    <div class="footer">
        <div>
            <a href="copyright">copyright</a>
        </div>
        <div>
            <a href="company">company</a>
        </div>
    </div>
</footer>

</html>