<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>JobOffer.com</title>
</head>

<body>
    <header class="header">
        {{#if message}}
                <p class="message">{{message}}</p>
        {{/if}}
        <h1 class="h1">Bienvenido a JobOffer.com</h1>
        {{#if user}}
        <div>
            <h3>Bienvenido de nuevo, {{user.email}}</h3>
            <form action="auth/logout" method="POST">
                <button class="button-logout" type="submit">LOGOUT</button>
            </form>
        </div>
        </div>
        {{/if}}
        <nav class="navbar">
            <a class=" navbar-link" href="/jobs">Ir a Empleos</a>
            <a class=" navbar-link" href="/auth/register">Registrar Nuevo Usuario</a>
            <a class=" navbar-link" href="/auth/login">Login</a>
        </nav>
    </header>
    <div class="img-box">
        <img src="/assets/Web-Developer-Outline.png" alt="dev" class="img-logo">
    </div>
</body>
<footer>
    <div class="footer">
        <div>
            <a href="copyright">copyright</a>
        </div>
        <div>
            <a href="company">company</a>
        </div>
    </div>
</footer>
</html>