<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Jobs</title>
</head>

<body>
    <header>
        <div>
            <a href="/">Volver a la Página Principal</a>
        </div>
        {{#if user}}
        <div>
            <a href="/jobs/create-job">Crear Oferta de Empleo</a>
        </div>
        {{/if}}
        <h1 class="h1">Empleos Actualizados</h1>
    </header>
    <div class="offer">
        {{#each jobs}}
        <h2 class="h2">Oferta de Empleo: <a href="/jobs/{{_id}}"> {{title}} </a></h2>
         {{!-- {{#if image}}
            <img style="width: 200px" src="{{image}}">
            {{/if}} --}}
        {{/each}}
    </div>

</body>
<footer>
    <div class="footer">
        <div>
            <a href="copyright">copyright</a>
        </div>
        <div>
            <a href="company">company</a>
        </div>
    </div>
</footer>

</html>