<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Login</title>
</head>

<body>

   <header>
    <h1 class="h1">Bienvenido a JobOffer.com</h1>
    <a class="link" href="/">Volver a Página Principal</a>
</header>
    <section class="form-register">
        
        <h2 class="h2">Login</h2>
        <form action="/auth/login" method="POST">


            <input class="form-register__input" type="text" name="email" placeholder="Email">


            <input class="form-register__input" type="password" name="password" placeholder="Password">

            <button class="button" type="submit">Enviar Datos Usuario</button>
            {{#if error}}
            <div style="color: red;">
                {{error}}
            </div>
            {{/if}}
            <a class="form-register__link" href="/auth/register">¿No tienes cuenta? Regístrate aquí</a>
        </form> 
    </section>
</body>
<footer>
    <div class="footer">
        <div>
            <a href="copyright">copyright</a>
        </div>
        <div>
            <a href="company">company</a>
        </div>
    </div>
</footer>

</html>